.heading-container {
    justify-content: space-between;
    align-items: flex-end;
}

.custom-thumbnail  {

}

.detail-image {

  padding: 0.25em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;

  width:100px;

}

.light-background {

  background-color: #f4f4f4

}
