<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#">Welcome <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </nav>
    <h3 class="text-muted">Velvet Cake Company</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Welkom!</h1>

    <p class="lead">Hallo Jandri en maats, hier gan ons nuwe produkte by voeg, nuwe orders bou, users manage en vele meer. Maar ek gan nou eers stop met die Afrikaans en oorbeweeg na <strong> English. </strong> </p>
    <p> Login below to get going with the Velvet Cake Co ordering backend. </p>

    <button class="btn btn-lg btn-success" [routerLink]="['/login']" role="button">Goto Login</button>
  </div>

  <!-- <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div> -->

  <!-- <footer class="footer">
    <p>Velvet Cake Co</p>
  </footer> -->

</div> <!-- /container -->
