<div class="d-flex justify-content-between pb-2">
  <span class="h4"> Products: </span>

  <div class="d-flex justify-content-end">
    <input type="text" class="form-control mr-2" placeholder="Search" [(ngModel)]="searchWord" (ngModelChange)="applySearchKeyWord()">
    <button role="button" class="btn btn-success" (click)="addNewProduct()" > + Add new product </button>

  </div>

</div>

<div *ngIf="isLoading">Loading data...</div>

<div *ngIf="!isLoading">
  <ul class="list-group">
    <a *ngFor="let item of itemsFiltered" [routerLink]="[item.$key]" class="list-group-item list-group-item-action">{{ item.description }}</a>
  </ul>
</div>
