<div class="cms-section">
  <div class="row" *ngIf="(tags$ | async)?.length">
    <div class="side-menu-section col-3" >
      <div>
        <nav class="navbar navbar-inverse bg-primary rounded">
          <ul class="navbar-nav flex-column">


            <li class="nav-item"  *ngFor="let tag of tags$ | async" >
              <a class="nav-link" [class.active]="tag==selectedTag" role="button" (click)="selectTag(tag)" >{{tag.description}}</a>
            </li>


          </ul>
        </nav>
      </div>

    </div>

    <div class="list-section col-9">
      <div class="d-flex justify-content-start products-listing-flex-contianer">
         <app-listing-item class="flex-wrap products-listing-flex-item" *ngFor="let product of products$ | async" [product]="product" (onClick)="gotoProduct($event)"> </app-listing-item>
      </div>
    </div>
</div>
